<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcam Stream Analysis</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div class="container my-5">
        <h1 class="text-center mb-4">Webcam Stream Analysis</h1>
        <div class="row justify-content-center">
            <div class="text-center">
                <button type="button" class="btn btn-primary" id="analyze-btn">Analyze</button>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        "use strict";
        const analyzeBtn = document.getElementById('analyze-btn');
        const previewVideo = document.getElementById('preview-video');
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    const webcamUrl = window.URL.createObjectURL(stream);
                    previewVideo.srcObject = stream;
                })
                .catch(function (error) {
                    console.error('Error accessing webcam:', error);
                });
        } else {
            console.error('getUserMedia is not supported by this browser.');
        }

        analyzeBtn.addEventListener('click', function () {
            const local_server_url = `${window.location.protocol}//${window.location.hostname}:${window.location.port}`;
            const redirectUrl = `${local_server_url}/predict?source=0`;
            window.location.href = redirectUrl;
        });
    </script>
</body>
</html>